
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body, html{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #f6f6f6;
    /* background: linear-gradient(to bottom, #e7d9cd72, #feecc476,#ee77774e,#f1a1a14e, #ace9f695); */
    scroll-behavior: smooth;
}


/* width */
::-webkit-scrollbar {
    width: 8px;
    border: none;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #a3a3a33b;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #e31aea76;
    border-radius: 2px;
    transition: .3s ease;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #dd0b54;
}

h2{
    width: 100%;
}
h2 nav{
    width: 100%;
}

header{
    color: #fff;
    width: 100%;
    height: 75px;
    background: #fb6f92ab;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    top: 0;
    position: sticky;
    z-index: 999;
    backdrop-filter: blur(1px);
}



.logo{
    width: 140px;
    height: 90px;
    margin-top: 8px;
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Saira Condensed', sans-serif;
    background-image: url('res/logo\ \(20240928093540\).png');
    background-position: center;
    background-size: cover;
}

header nav {
    padding-top: 10px;
}

nav ul{
    display: flex;
}

nav ul li a{
    color: hsl(0, 0%, 100%);
    display: block;
    margin: 0 2px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    padding: 8px 18px;
    transition: 8px 18px;
    transition: .3s ease;
}

nav ul li a:hover{
    color: #ffcee7;
}

nav ul li a:active{
    background: #ff8e65;
    color: #fff;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 100%;
    /* border: 1px black solid; */
    margin: 0 auto;
    margin-top: 100px;
}

.intro .spray-overview {
    width: 25%;
    height: 80%;
    margin-top: -20px;
    margin-bottom: -20px;
}

.intro .spray-overview .spray {
    width: 100%;
    height: 100%;
}

.intro .spray-slide {
    background: -webkit-linear-gradient( #be31ff, #ff4da0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-family: 'Oleo Script', sans-serif;
    position: relative;
    white-space: nowrap;
    transition: transform .5s ease, opacity 0.3s ease;
    font-size: 100px;
    opacity: 0;
}

.left {
    transform: translateX(-100%);
}

.right {
    transform: translateX(100%);
}


.prod-info {
    flex: 1;
    width: 74%;
    height: 1100px;
    padding: 20px;
    margin: -20px auto 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    font-family: 'Inter', sans-serif;
}

.prod-info .info {
    box-shadow: 0px 0px 36px -14px rgba(40, 40, 40, 0.1);
    -webkit-box-shadow: 0px 0px 36px -14px rgba(40,40,40,0.1);
    -moz-box-shadow: 0px 0px 36px -14px rgba(40,40,40,0.1);
    width: 480px;
    height: 480px;
    border-radius: 24px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: right;
    padding: 20px;
    justify-content: center;
    transition: .3s ease;
}

.prod-info .info:hover {
    box-shadow: 0px 0px 36px -14px rgba(255, 13, 215, 0.8);
    -webkit-box-shadow: 0px 0px 36px -14px rgba(255, 13, 215, 0.8);
    -moz-box-shadow: 0px 0px 36px -14px rgba(255, 13, 215, 0.8);
    transform: scale(1.02) rotateZ(1deg);
}

.prod-info .info .image{
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.prod-info .info .info-title{
    display: flex;
    width: 98%;
    height: 80px;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    
}

.prod-info .info .info-desc{
    width: 98%;
    height: 150px;
    display: flex;
    font-size: 16px;
    text-align: left;
    overflow: auto;
}

.uv {
    background-image: url('res/uv.png');
}
.cooling{
    background-image: url('res/cooling.png');
}

.bacteria {
    background-image: url('res/bacteria.png');
}

.glow {
    background-image: url('res/glow.png');
}

.slider-wrapper {
    border-radius: 28px;
    padding-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6fc9f76;
    overflow: hidden;
    max-width: 1100px;
    margin: 0px 70px 50px;
    height: 600px;
    transition: background-color .8s ease;
}



.card-list .card-item {
    font-family: 'Inter', sans-serif;
    color: #000;
    width: 500px;
    height: 450px;
    padding: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    backdrop-filter: blur(12px);

}

.card-list .card-item .var-img {
    width: 200px;
    height: 200px;
    border-radius: 12px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.card-list .card-item .var-name {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.card-list .card-item .var-desc {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
}

.slider-wrapper .swiper-pagination-bullet {
    background: #fa65f0;
    height: 15px;
    width: 15px;
}

.slider-wrapper .swiper-slide-button {
    color: #fa65f0;
    transition: .3s ease;
    margin-top: -50px;
}

.slider-wrapper .swiper-slide-button:hover {
    color: #ff90cb;
}

.lemon {
    background-image: url('res/Lemon.png');
}

.aloe {
    background-image: url('res/Lemon.png');
}

.ice {
    background-image: url('res/Lemon.png');
}


@media (max-width: 700px) {
    header {
        font-size: 12px;
        width: 100%;
    }

    .intro .spray-overview {
        width:300px;
    }
    .prod-info {
        justify-content: space-evenly;
        height: 300px;
        width: 90%;
    }
    .prod-info .info {
        transform: scale(.7);
    }

    .prod-info .info:hover {
        transform: scale(.759);
    }

    .logo {
        transform: scale(.5);
    }

    .slider-wrapper {
        max-width: 300px;
        max-height: 300px;
        font-size: 12px;
    }

    .card-list .card-item {
        align-items: center;
        justify-content: baseline;
        margin: 0;
        padding: 6px;
    }

    .card-list .card-item .var-name{
        font-size: 13px;
    }

    .card-list .card-item .var-desc{
        font-size: 10px;
        overflow: auto;
    }

    .card-list .card-item .var-img {
        width: 100px;
        height: 100px;

    }


}